<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <a href="/users/new">Create New User</a>
    <ul>
        <th:block th:each="user : ${users}">
            <li>
                <span th:text="${user.name}"></span> - <span th:text="${user.email}"></span>
                <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
                <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
            </li>
        </th:block>
    </ul>
</body>
</html>
